body{
    background: #fff;
}
.navbar-light .navbar-nav .nav-link {
    color: white;
}
.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
    color: white;
}
.br-image1{
background: url(../images/slider-1.jpg);
background-size:cover;
background-position: center;
width: 100%;
min-height: 130vh;
}
.br-image3{
background-image: url(../images/slider-3.jpg);
background-size:cover;
background-position: center;
width: 100%;
min-height: 130vh;
}
.br-image2{
background-image: url(../images/slider-2.jpg);
background-size:cover;
background-position: center;
width: 100%;
min-height: 130vh;
}
.content-image{
    padding-top: 25%;
    

}
.content-image h1{
    font-size: 80px;
    color: white;
    padding-bottom: 15px;
}
.content-image p{
    font-size: 25px;
    color: white;
    padding-bottom: 30px;
}
.content-image a{
    border: white 25px ;
    border-radius: 30px;
    background: white;
    color: black;
    padding:10px 20px;
}

.center-about .color p{
    color: #00d2d3;
}
.flex{
    display: flex;
}
.center-about{
    padding: 15px 70px;
    text-align: center;
    border: solid 1px #e2e6e9;
}
.center-about p{
    font-size: 20px;
    font-style: unset;

}
.banner{
    border: solid 1px #e2e6e9;
    padding: 40px 50px;
}
.banner-status h4{
    color: #00d2d3; 
    padding-top: 30px;
}
.banner-status h3{
    font-size: 45px; 
    padding-bottom: 30px;
    font-weight: bold;
}
.banner-status a{
    border-radius: 20px;
    border: #00d2d3;
    background: #00d2d3;
    padding: 15px 30px;
    color: white; 
    font-weight: bold;
}
.click{
    padding-top: 30px;
}
.center-image{
    padding-top: 70px;
}
.banner-status p{
    color: #afafaf;
}
.banner-2{
    padding-top: 80px;
    padding-bottom: 80px;
}
.banner-size h3{
    font-size: 39px;
    font-weight: bold;
}
.banner-size p{
    color: #afafaf;   
}
.banner-size h4{
    color: #00d2d3; 
    font-size: 25px; 
    font-weight: bold;
}
.contact{
    list-style: none;
    color: black;
}
.contact a{
    color: black;
    font-weight: bold;
    font-size: 17px;
    
}
.status{
    padding-top: 60px;
}
.status h3{
    font-weight: bold;
    font-size: 50px;
}
.status p{
    color: #afafaf;
    font-size: 20px;
    padding-bottom: 30px;
}
li{
    padding: 10px 0px;
}
.icon{
    display: flex;
    list-style: none;
}
.overall-images{
    display: flex;
    padding: 0 30px;
}
.overall{
    display: flex;
    padding: 40px 0px;
}
.icon li{
    padding: 0 10px;
}
.menber {
    display: flex;
}
.overall-status h4{
    color: black;
}
.overall-status h5{
    color: #afafaf;
}
.overall-status p{
    color: #afafaf;
}
.status-2 {
    text-align: center;
    padding: 70px 300px;
}
.status-2 h2{
    font-weight: bold;
    font-size: 65px;
}
.status-2 p {
    color: #afafaf; 
    font-size: 20px;
}
.contact-us{
    background:#00d2d3 ;
    display: flex;
    padding: 50px 30px;
   
}
.contact-us1{
  color: #fff;
  padding-left: 60px;
}
.contact-a a{
    border: white solid 1px;
    border-radius: 25px;
    background: white;
    color: black;
    padding: 15px 30px;
}
.contact-a{
    padding-top: 45px;
    padding-left: 70px;
} 
.contact-us1 h5{
    font-size: 15px;
}
.contact-us1 h1{
    font-size: 45px;
}
.sponsor-1 .img-fluid{
    padding:50px 10px;
}
.sponsor{
    padding: 70px 10px;
}
.sponsor h1{
    font-weight: bold;
    font-size: 50px;
}
.enter-mail{
    background: #fbfbfd;
    text-align: center;
    padding-bottom: 60px;
    
}
.enter{
    display: flex;
    padding-left: 35%;
    text-align: center;
    
}
.email{
    padding: 10px 120px;
    border-radius: 20px;
    
}
.enter-icon{
    background: #00d2d3;
    border-radius: 10px;
    border: 1px solid #00d2d3;
}
.enter-icon i{
    color: white;
}
.end-project{
    background: black;
    display: flex;color: white;
}
.end-1{
    display: flex;
    padding-left: 100vmin;
    list-style: none;
    padding-top: 10px;
}
.end-1 li a{
    padding-right: 30px;color: white;
}
.end-project p{
    padding-top: 20px;
  padding-left: 100px;
}

.center-col{
    padding: 15px 70px;
    text-align: center;
    border: solid 1px #e2e6e9;
}
span{
    color: #00d2d3;
}